####### /etc/mysql/mysql.conf.d
#[mysqld]
#pid-file        = /var/run/mysqld/mysqld.pid
#socket          = /var/run/mysqld/mysqld.sock
#datadir         = /var/lib/mysql
#log-error      = /var/log/mysql/error.log
# By default we only accept connections from localhost
#bind-address   = 127.0.0.1
# Disabling symbolic-links is recommended to prevent assorted security risks
#symbolic-links=0

#[mysqld]
#skip-host-cache
#skip-name-resolve

#[mysqldump]
#quick
#quote-names
#max_allowed_packet	= 16M


#5.7.32
[client]
port    = 3306
socket  = /var/run/mysqld/mysqld.sock

# This was formally known as [safe_mysqld]. Both versions are currently parsed.
[mysqld_safe]
socket  = /var/run/mysqld/mysqld.sock
nice    = 0
syslog

[mysqld]
# Basic Settings
user      = mysql
#pid-file  = /var/run/mysqld/mysqld.pid
#socket    = /var/run/mysqld/mysqld.sock
port      = 3306
########### add
sql-mode  = ANSI_QUOTES,STRICT_ALL_TABLES,STRICT_TRANS_TABLES,NO_ENGINE_SUBSTITUTION
basedir   = /usr
#datadir   = /var/lib/mysql
tmpdir    = /tmp

lc-messages-dir         = /usr/share/mysql
lc-messages             = en_US
########### add
skip-external-locking

# Character set Config
character-set-client-handshake	= FALSE
character-set-server		= utf8
init_connect			= SET collation_connection = utf8_general_ci
init_connect			= SET NAMES utf8
#skip-name-resolve		= 1
log_timestamps			= SYSTEM
log_error_verbosity		= 1

# Common Config
back_log		= 1024
ft_min_word_len         = 4
interactive_timeout	= 600
max_connections		= 500
performance_schema

max_length_for_sort_data	= 1024
tmp_table_size			= 1024M
table_open_cache		= 2000
transaction-isolation		= REPEATABLE-READ
#open_file_limit			= 1024
slave-net-timeout		= 3

# Engine
default-storage-engine  = InnoDB

# Listening IP
bind-address            = 0.0.0.0

# Safety
max-connect-errors      = 1000000
max_allowed_packet      = 64M
skip-name-resolve
sysdate-is-now          = 1
innodb                  = FORCE
innodb-strict-mode      = 1

wait_timeout            = 60
interactive_timeout     = 60

# Buffers
sort_buffer_size        = 4M
read_buffer_size        = 2M
join_buffer_size        = 8M
read_rnd_buffer_size    = 16M

#thread_concurrency      = 8 # Max CPU * 2

# MyISAM
key-buffer-size         = 32M
#myisam-recover          = FORCE,BACKUP
myisam_sort_buffer_size = 64M

# CACHES AND LIMITS #
tmp-table-size          = 128M
max-heap-table-size     = 1G
query-cache-type        = 0
query-cache-size        = 0
query_cache_limit       = 1M
max-connections         = 5000
thread-cache-size       = 50
thread_stack            = 192K
open-files-limit        = 65535
table-definition-cache  = 1024
table-open-cache        = 2048

# Bin logs
binlog-format           = ROW
log-bin                 = /var/lib/mysql/mysql-bin
log-bin_trust_function_creators	= 1

binlog_cache_size	= 1M
binlog_row_image	= minimal
binlog_checksum		= none
server-id		= 1851

log-slave-updates       = 1
expire-logs-days        = 5
sync-binlog             = 1
max_binlog_size         = 100M

gtid_mode		= off
enforce_gtid_consistency	= off
binlog-ignore-db = performance_schema
binlog-ignore-db = information_schema
binlog-ignore-db = sys

local-infile = 0

server-id = 1 # randomize it incase of multiple servers

# InnoDB
innodb_checksum_algorithm	= NONE
innodb_data_file_path		= ibdata1:1G;ibdata2:1G;ibdata3:1024M:autoextend
innodb_flush_method		= O_DSYNC
innodb_lock_wait_timeout	= 10
innodb_thread_sleep_delay	= 0
#innddb_fast_shutdown
innodb_autoinc_lock_mode	= 1
innodb_thread_concurrency	= 4
#innodb_read_io_thread		= 2
#innodb_write_io_thread		= 2
innodb_open_files		= 1024
innodb_doublewrite		= 0

innodb_data_home_dir            = /var/lib/mysql/innodb-data
innodb-buffer-pool-size         = 2048M
innodb_buffer_pool_instances    = 8
#innodb_additional_mem_pool_size = 20M
innodb_log_group_home_dir       = /var/lib/mysql/innodb-data
innodb_log_buffer_size          = 8M
innodb-log-files-in-group       = 2
innodb-log-file-size            = 256M
innodb-file-per-table           = 1
innodb-flush-log-at-trx-commit  = 1
#innodb-flush-method             = O_DIRECT

# With virtual synchrony redundancy, make write queries faster
innodb_doublewrite              = 1

# This is a recommended tuning variable for performance
innodb_locks_unsafe_for_binlog  = 1

# LOGGING
general_log_file                = /var/log/mysql/mysql.log
log-error                       = /var/log/mysql/mysql-error.log
log-queries-not-using-indexes   = 1
slow_query_log_file             = /var/log/mysql/slow.log
slow_query_log                  = 1
long_query_time                 = 3

[mysqldump]
#quick
#quote-names
#max_allowed_packet  = 64M

[mysqladmin]
user = root

[isamchk]
key_buffer    = 16M